/**
 * @file
 * Style file for admin interface of LiveInternet module.
 */

#edit-liveinternet-displays .form-type-radio {
  display: inline;
  margin: 0 0.5em 1em;
}

#edit-liveinternet-displays .form-type-radio label {
  margin: 0 0 1em;
}

#edit-liveinternet-displays .form-type-radio input {
  vertical-align: top;
}

#edit-liveinternet-displays .form-type-radio img {
  margin: 0 0 1em;
}
